<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>PCC's Trade News</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/NewsStyle.css">
</head>

<body>

    <div class="container">
        <div class="logo-wrapper d-flex align-items-center">
            <h1>
                <a>
                    TRADEX Instructions
                </a>
            </h1>
        </div>
    </div>

    <div class="container-fluid menu">
        <div class="container">
            <div class="d-flex menu-items">
                <div class="active">
                    <a>Trading Instructions, Read all trading related instructions carefully</a>
                </div>
            </div>
        </div>
    </div>




    <div class="container section">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="mb-4 mt-4">
                    <div class="section-title">
                        <span>Trading Instructions</span>
                    </div>

                    <!-- news-1	 -->
                    <div class="row mb-3 bb-1 pt-0">
                        <div class="col-md-30 col-lg-30 col-sm-20 col-xs-20">
                            <h5>

                                <h3 style="color: rgb(246, 187, 13)"> When you get your head on straight, you can embark
                                    on learning trading
                                    and start with these five basic steps.</h3>
                                <br>

                                <h3>1. Open a Trading Account</h3>
                                Sorry if it seems we're stating the obvious, but you never know! (Remember the
                                person who did
                                everything to set
                                up his new computer—except to plug it in?) Find a good online stock broker and open
                                a stock
                                brokerage account.
                                Even if you already have a personal account, it's not a bad idea to keep a
                                professional trading
                                account
                                separate. Become familiar with the account interface and take advantage of the free
                                trading tools
                                and research
                                offered exclusively to clients. A number of brokers offer virtual trading. Some
                                sites, including
                                Investopedia,
                                also offer online broker reviews to help you find the right broker.
                                <br>
                                <br>

                                <h3>2. Learn to Read: A Market Crash Course</h3>
                                Financial articles, stock market books, website tutorials, etc. There's a wealth of
                                information out
                                there, much
                                of it inexpensive to tap. It's important not to focus too narrowly on one single
                                aspect of the
                                trading game.
                                Instead, study everything market-wise, including ideas and concepts you don't feel
                                are particularly
                                relevant at
                                this time. Trading launches a journey that often winds up at a destination not
                                anticipated at the
                                starting line.
                                Your broad and detailed market background will come in handy over and over again,
                                even if you think
                                you know
                                exactly where you’re going right now.

                                Here are five must-read books for every new trader:

                                Stock Market Wizards by Jack D. Schwager1
                                Trading for a Living by Dr. Alexander Elder2
                                Technical Analysis of the Financial Markets by John Murphy3
                                Winning on Wall Street by Martin Zweig4
                                The Nature of Risk by Justin Mamis5
                                Start to follow the market every day in your spare time. Get up early and read about
                                overnight price
                                action on
                                foreign markets. (U.S. traders didn't have to monitor global markets a couple of
                                decades ago, but
                                that’s all
                                changed due to the rapid growth of electronic trading and derivative instruments
                                that link equity,
                                forex, and
                                bond markets around the world.)

                                News sites such as Yahoo Finance, Google Finance, and CBS MoneyWatch serve as great
                                resources for
                                new investors.
                                For more sophisticated coverage, you need look no further than The Wall Street
                                Journal and
                                Bloomberg.
                                <br>
                                <br>

                                <h3>3. Learn to Analyze</h3>
                                Study the basics of technical analysis and look at price charts—thousands of them—in
                                all time
                                frames. You may
                                think fundamental analysis offers a better path to profits because it tracks growth
                                curves and
                                revenue streams,
                                but traders live and die by price action that diverges sharply from underlying
                                fundamentals. Do not
                                stop reading
                                company spreadsheets, because they offer a trading edge over those who ignore them.
                                However, they
                                won’t help you
                                survive your first year as a trader.

                                Your experience with charts and technical analysis now brings you into the magical
                                realm of price
                                prediction.
                                Theoretically, securities can only go higher or lower, encouraging a long-side trade
                                or a short
                                sale. In
                                reality, prices can do many other things, including chopping sideways for weeks at a
                                time or
                                whipsawing
                                violently in both directions, shaking out buyers and sellers.

                                The time horizon becomes extremely important at this juncture. Financial markets
                                grind out trends
                                and trading
                                ranges with fractal properties that generate independent price movements at
                                short-term,
                                intermediate-term, and
                                long-term intervals. This means a security or index can carve out a long-term
                                uptrend, intermediate
                                downtrend,
                                and a short-term trading range, all at the same time. Rather than complicate
                                prediction, most
                                trading
                                opportunities will unfold through interactions between these time intervals.

                                Buying the dip offers a classic example, with traders jumping into a strong uptrend
                                when it sells
                                off in a
                                smaller time period. The best way to examine this three-dimensional playing field is
                                to look at each
                                security in
                                three time frames, starting with 60-minute, daily, and weekly charts.
                                <br>
                                <br>

                                <h3>4. Practice Trading</h3>
                                It’s now time to get your feet wet without giving up your trading stake. Paper
                                trading, or virtual
                                trading,
                                offers a perfect solution, allowing the neophyte to follow real-time market actions,
                                making buying
                                and selling
                                decisions that form the outline of a theoretical performance record. It usually
                                involves the use of
                                a stock
                                market simulator that has the look and feel of an actual stock exchange's
                                performance. Make lots of
                                trades,
                                using different holding periods and strategies, and then analyze the results for
                                obvious flaws.

                                Investopedia has a free stock market game, and many brokers let clients engage in
                                paper trading with
                                their real
                                money entry systems, too. This has the added benefit of teaching the software so you
                                don’t hit the
                                wrong buttons
                                when you are playing with family funds.

                                So, when do you make the switch and start trading with real money? There’s no
                                perfect answer because
                                simulated
                                trading carries a flaw that’s likely to show up whenever you start to trade for
                                real, even if your
                                paper results
                                look perfect.

                                Traders need to coexist peacefully with the twin emotions of greed and fear. Paper
                                trading doesn’t
                                engage these
                                emotions, which can only be experienced through actual profit and loss. In fact,
                                this psychological
                                aspect
                                forces more first-year players out of the game than bad decision-making. Your baby
                                steps forward as
                                a new trader
                                need to recognize this challenge and address remaining issues with money and
                                self-worth.
                                <br>
                                <br>

                                <h3>5. Other Ways to Learn and Practice Trading</h3>
                                Though experience is a fine teacher, don't forget about additional education as you
                                proceed on your
                                trading
                                career. Whether online or in-person, classes can be beneficial, and you can find
                                them at levels
                                ranging from
                                novice (with advice on how to analyze the aforementioned analytic charts, for
                                example) to pro. More
                                specialized
                                seminars—often conducted by a professional trader—can provide valuable insight into
                                the overall
                                market and
                                specific investment strategies. Most focus on a specific type of asset, a particular
                                aspect of the
                                market, or a
                                trading technique. Some may be academic, while others are more like workshops in
                                which you actively
                                take
                                positions, test out entry and exit strategies, and engage in other exercises (often
                                with a
                                simulator).

                                Paying for research and analysis can be both educational and useful. Some investors
                                may find
                                watching or
                                observing market professionals to be more beneficial than trying to apply newly
                                learned lessons
                                themselves.
                                There are a slew of paid subscription sites available across the web: Two
                                well-respected services
                                include
                                Investors.com and Morningstar.

                                It's also useful to get yourself a mentor—a hands-on coach to guide you, critique
                                your technique,
                                and offer
                                advice. If you don't know one, you can buy one. Many online trading schools offer
                                mentoring as part
                                of their
                                continuing ed programs.</p>

                            </h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        window.onscroll = function () {
            setSticky();
        }

        navbar = document.getElementsByClassName('menu')[0];
        var sticky = navbar.offsetTop;
        function setSticky() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add('sticky');
            } else {
                navbar.classList.remove('sticky');
            }
        }
    </script>
</body>

</html>